$base-color:red;

.first {
  width: 100px;
  height: 100px;
  border: 1px solid $base-color;
  border-radius: 50%;
}


$baseCls:"webpack-img";

.#{$baseCls} {
  display: flex;
  justify-content: space-between;
  div{
    width: 230px;
    height: 230px;
    &.box1{
      background: url(../assets/1.png) no-repeat center /contain;
    }
    &.box2{
      background: url(../assets/2.png) no-repeat center /contain;
    }
    &.box3{
      background: url(../assets/3.png) no-repeat center /contain;
    }
  }
}